.background img {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center;
  z-index: -1;
  filter: brightness(0.2);
}
.container {
  height: calc(100vh - 80px - 100px); /*80px = navBar 100px = footer*/
}
.content {
  display: flex;
}
.date {
  font-size: 80px;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.companyName {
  font-size: 80px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 50px;
}
.jobName {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 50px;
}
.jobTasks li {
  list-style-position: outside;
  list-style-type: circle;
}
.jobTasks {
  margin: 0;
  font-size: 24px;
  line-height: 200%;
}
.pagination {
  display: inline-block;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination a {
  height: 24px;
  padding: 8px 32px;
  background-image: url("./images/radio_button_unchecked-24px.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.pagination .active {
  background-image: url("./images/circle-24px.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.pagination a:hover:not(.active) {
  background-image: url("./images/radio_button_checked-24px.svg");
  background-repeat: no-repeat;
  background-position: center;
}
