.header {
  background-color: rgb(48, 46, 46);
  height: 200px;
  padding-top: 20px;
  box-sizing: border-box;
}
.header .title {
  color: #b83030;
  font-family: 'Parisienne';
  text-align: center;
  font-size: 60px;
  margin: 0;
}
.header .logo {
  font-size: 60px;
  text-align: center;
}
.navBarPlaceHolder {
  position: relative;
  height: 60px;
}
.navBar {
  height: 60px;
  width: 100%;
  display: flex;
  background-color: rgb(48, 46, 46);
  position: absolute;
}
.navBar .navBarItem {
  flex: 1;
  display: flex;
  height: 60px;
  color: white;
  font-family: 'Roboto';
  font-size: 30px;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #bbb;
  border-left: 1px solid #bbb;
}
.navBar .navBarItem:first-child {
  flex: none;
  width: 60px;
}
.navBar .navBarItem:first-child img {
  height: 45px;
  width: 45px;
}
.navBar .navBarItem:first-child .dropdown .dropdownMenu {
  width: max-content !important;
}
.navBar .navBarItem:first-child .dropdown .dropdownMenu .dropdownItem {
  padding: 10px 10px;
}
.navBar .navBarItem .dropdown {
  position: relative;
  width: 100%;
  height: 100%;
}
.navBar .navBarItem .dropdown .dropdownButton {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navBar .navBarItem .dropdown:hover .dropdownMenu {
  top: 100%;
  opacity: 1;
  width: 100%;
  box-shadow: 0px 0px 5px black;
  color: black;
  transition: all 250ms ease;
}
.navBar .navBarItem .dropdown:hover {
  background-color: #b83030;
  cursor: pointer;
}
.navBar .navBarItem .dropdown .dropdownMenu {
  position: absolute;
  top: 100%;
  opacity: 0;
}
.navBar .navBarItem .dropdown .dropdownItem {
  background-color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}
.navBar .navBarItem .dropdown .dropdownItem:hover {
  background-color: rgb(194, 193, 193);
  color: white;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0px 0px 20px black;
}
.goodAddress {
  font-family: 'Roboto';
  text-align: center;
}
.goodAddress .name {
  font-size: 24px;
}
.goodAddress .speciality,
.goodAddress .address,
.goodAddress .phoneNumber,
.goodAddress .website,
.goodAddress .legend {
  font-size: 15px;
}
.goodAddress .timetable {
  display: flex;
  justify-content: center;
  text-align: left;
}
.goodAddress .picturesAndLegends {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 0;
}
.goodAddress .picture {
  width: 100%;
  box-sizing: border-box;
  display: inline;
  flex: 1;
}
p a:link {
  color: #b83030;
}
p a:visited {
  color: #1b8360;
}
p a:hover {
  opacity: 0.7;
}