@media (max-width: 480px) {
  .header {
    height: 100px;
  }
  .header .title {
    font-size: 30px;
  }
  .header .logo {
    font-size: 30px;
  }
  .navigation {
    font-size: 16px;
  }

  .navBar {
    height: 40px;
  }
  .navBar .navBarItem {
    height: 40px;
  }
  .navBar .navBarItem:first-child {
    flex: none;
    width: 40px;
  }
  .navBar .navBarItem .dropdown .dropdownButton img {
    height: 25px;
    width: 25px;
  }
  .navBar .navBarItem .dropdown {
    font-size: 16px;
  }

  .navBar .navBarItem .dropdown .dropdownItem {
    height: 40px;
    font-size: 16px;
    text-align: center;
  }
}
